/* ==================================================================
    Header and Nav
================================================================== */

nav {
    width: 100%;
    display: inline-block; }

nav ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0; }

nav li {
    display: inline-block; }

nav li a {
    color: #77a6aa;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    float: center;
    padding-top: 10px;
    padding-right:2px;
    padding-left:2px;
    padding-bottom:5px;
    margin-left:7px;
    margin-right:7px;
    border-bottom: 2px solid #77a6aa;
    transition: color 0.3s ease; }

header {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center; }

header .blog-name {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-top: 10px;}

header .blog-name a {
    color: #a6a2a0;
    text-decoration: none; }

header li a:hover {
    color: black;
    border-bottom: 2px solid black; }


#menu-icon {
    display: none; }

@media (max-width: 480px) {
    header {
        padding-left: 6%;
        padding-right:6%;
    }
}

@media (min-width: 481px) {
    header {
        padding-left: 12.5%;
        padding-right: 12.5%; }
    }

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
    header {
        width: 705px;
        margin-left: auto;
        margin-right: auto; }
    }

/*
medium display: nav goes under name
*/
@media (max-width: 360px) {
    header { display: block; }
    header .blog-name {
        display: block;
        padding-bottom: 10px; }
    nav {
        display: inline;
        width: 60%; }
    }

table {
 line-height:1em;
 margin-left:auto;
 margin-right:auto;
 border-collapse:collapse;
 text-align:center;
 margin-bottom:1.5em
}
tr:first-of-type {
 background:#eae9f4
}
tr:first-of-type>th {
 text-align:center
}
tr,
th,
td {
 padding:10px;
 border:1px solid lightgray
}
table tbody tr td {
 border:1px solid lightgray
}
